<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='title-logo.png') }}" type="image">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='influencerdashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatpopup.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-5">
                <img class="navbar-brand img-fluid" src="{{ url_for('static', filename='influencer-logo.png') }}" style="width: 15%;" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="nav-link btn" aria-current="page" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('influencer_profile')}}'">Profile</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('influencer_dashboard')}}'">Ad Requests</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" aria-current="page" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('campaign_find')}}'">Find Campaigns</button>
                        </li>
                    </ul>
                    <form action="{{ url_for('logout') }}">
                    <button class="btn btn-outline-danger logout-btn" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!-- Chat Button -->
    <div class="chat-button" onclick="toggleChat()">
        Chat with Us
    </div>

    <div class="chat-popup" id="chatPopup">
        <div class="chat-card-header">
            Chat with Us
            <button class="chat-close-btn" onclick="toggleChat()">&times;</button>
        </div>
        <div class="chat-card-body" id="chatBody">
            <!-- Messages will be added here dynamically -->
        </div>
        <div class="chat-card-footer">
            <div class="chat-input">
                <textarea id="userMessage" placeholder="Type your message..."></textarea>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>

    <br><br>
    <div class="container">
        <!-- Shows all active ad requests -->
        {% if ads_campaigns[0] %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">Active Ad Requests</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center card-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for ad, campaign, sponsor in ads_campaigns %}
                        <div class="swiper-slide d-flex">
                            <div class="card" style="width: 30rem;">
                                <div class="card-header">
                                    <h5 class="card-title">{{ sponsor.company }}: {{ campaign.name }}</h5>
                                </div>
                                <div class="card-body">
                                    <div>
                                        {{ ad.description }}
                                        <br><br>
                                        <p class="card-text">Niche: {{ ad.niche }}</p>
                                        {% if ad.flag == 0 %}
                                        <button class="btn custom-btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvite1" aria-expanded="false" aria-controls="collapseInvite1">
                                            View
                                        </button>
                                        {% else %}
                                        <button class="btn custom-btn-danger" type="button">
                                            Flagged by Admin
                                        </button>
                                        {% endif %}
                                        <div class="collapse" id="collapseInvite1">
                                            <br>
                                            <div class="card card-body mt-2">
                                                <p class="card-text">Campaign Description: </p><p class="card-text">{{ campaign.description }}</p>
                                                <p class="card-text">Goals: {{ campaign.goals }}</p>
                                                <p class="card-text">Progress: <span class="badge bg-success">{{ campaign.progress }}%</span></p>
                                                <div class="progress mb-3">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ campaign.progress }}%;" aria-valuenow="{{ campaign.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% if ad.status == 2 %}
                                                <button class="btn custom-btn-danger" type="button" onclick="location.href='{{ url_for('complete_ad_request', key=ad.key) }}'">
                                                    Mark as Completed
                                                </button>
                                                {% else %}
                                                <button class="btn custom-btn-danger" type="button" disabled>
                                                    Completed, Awaiting Payment
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-body-secondary d-flex justify-content-between">
                                    <div>
                                        ${{ ad.payment }}
                                    </div>
                                    <div style="color: #FF5733;">
                                        Campaign Ends: {{ campaign.end_date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>     
        {% else %}
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">No Active Ad Requests</h1>
            </div>
        </div>
        {% endif %}

        <!-- See Profile Popup -->
        {% if sponsor_requests[0] %}
        {% for request, campaign, sponsor in sponsor_requests %}
        <div class="modal fade" id="profileModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="profileModalLabel{{ loop.index0 }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content curved-modal">
                    <div class="modal-header curved-modal-header">
                        <div class="col-8 text-left">
                            <h3 class="m-0" style="text-align: left; padding-left: 0px;">{{ sponsor.company }}</h3>
                        </div>
                        <div class="col-4 text-center">
                            <img src="{{ url_for('static', filename='sponsor-logo.png') }}" class="img-fluid w-100" style="width: 15%;">
                        </div>
                    </div>
                    <div class="modal-body" id="profileModalBody{{ loop.index0 }}">
                        <p><strong>Bio: </strong>{{ sponsor.bio }}</p>
                        <p><strong>Industry: </strong>{{ sponsor.industry }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div>
                            <p>The license into Accord.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Negotiate Popup -->
        <div class="modal fade" id="negotiateModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="negotiateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="negotiateModalLabel">Negotiate</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="adRequestModalBody">
                        <p><strong>Original Offer: $</strong>{{ request.payment }}</p>
                        <form action="/influencer/sponsor-requests/negotiate/{{ request.key }}" method="POST">
                            <label for="customRange1" class="form-label"><strong>Your Offer</strong></label>
                            <input type="range" min="1" max="10000" value="1000" class="form-range customRange" oninput="updateInputField(this.value, {{ loop.index0 }})">
                            <input type="number" class="form-control mt-2 rangeValueInput" value="1000" name="new_payment" oninput="updateSlider(this.value, {{ loop.index0 }})">
                            <br><br>
                            <button type="submit" class="btn custom-btn-danger">Submit</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <!-- Shows all new sponsor requests -->
        {% if sponsor_requests[0] %}
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">New Requests</h1>
            </div>
            <div class="col-12 text-center card-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for request, campaign, sponsor in sponsor_requests %}
                        <div class="swiper-slide d-flex">
                            <div class="custom-card" style="width: 30rem;">
                                <div class="custom-card-header">
                                    <h5 class="card-title">{{ campaign.name }}</h5>
                                </div>
                                <div class="custom-card-body">
                                    <p class="card-text">From</p>
                                    <h6 class="card-title">{{ sponsor.company }}</h6>
                                    <hr>
                                    <button class="btn custom-btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvite2" aria-expanded="false" aria-controls="collapseInvite2">
                                        View
                                    </button>
                                    <button class="btn custom-btn" type="button" onclick="location.href='/influencer/sponsor-requests/accept/{{ request.key }}'">Accept</button>
                                    <button class="btn custom-btn-danger" type="button" onclick="location.href='/influencer/sponsor-requests/reject/{{ request.key }}'">Reject</button>
                                    <div class="collapse" id="collapseInvite2">
                                        <div class="card card-body mt-2">
                                            <p class="card-text">{{ request.description }}</p>
                                            <p class="card-text">Niche: {{ request.niche }}</p>
                                            <button class="btn custom-btn-warning w-100 mt-2 profile-btn" type="button" data-bs-toggle="modal" data-bs-target="#profileModal{{ loop.index0 }}">
                                                See profile
                                            </button>
                                            <button class="btn custom-btn-warning w-100 mt-2 negotiate-btn" type="button" data-bs-toggle="modal" data-bs-target="#negotiateModal{{ loop.index0 }}">
                                                Negotiate
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-card-footer">
                                    <p class="card-text">Payment: ${{ request.payment }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {% else %}
        <br><br><br>
        <div class="row">
            <div class="col-12 text-center">
              <h1 style="color: black;">No New Requests</h1>
            </div>
        </div>
        {% endif %}

        <!-- Shows all completed ad requests -->
        {% if completed_requests[0] %}
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">Completed Requests</h1>
            </div>
            <div class="col-12 text-center card-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for request, campaign, sponsor in completed_requests %}
                        <div class="swiper-slide d-flex">
                            <div class="custom-card" style="width: 30rem;">
                                <div class="custom-card-header">
                                    <h5 class="card-title">{{ campaign.name }}</h5>
                                </div>
                                <div class="custom-card-body">
                                    <p class="card-text">From</p>
                                    <h6 class="card-title">{{ sponsor.company }}</h6>
                                    <hr>
                                    <button class="btn custom-btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvite3" aria-expanded="false" aria-controls="collapseInvite3">
                                        View
                                    </button>
                                    {% if request.status == 3 %}
                                    <button class="btn custom-btn-danger" type="button">Awaiting Payment</button>
                                    {% else %}
                                    <button class="btn custom-btn" type="button">Payment Received</button>
                                    {% endif %}
                                    <div class="collapse" id="collapseInvite3">
                                        <div class="card card-body mt-2">
                                            <p class="card-text">{{ request.description }}</p>
                                            <p class="card-text">Niche: {{ request.niche }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-card-footer">
                                    <p class="card-text">Payment: ${{ request.payment }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {% else %}
        <br><br><br>
        <div class="row">
            <div class="col-12 text-center">
              <h1 style="color: black;">No Completed Requests</h1>
            </div>
        </div>
        {% endif %}

        <!-- Shows past sponsor requests, accepted or rejected -->
        {% if past_sponsor_requests[0] %}
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">Rejected Requests</h1>
            </div>
            <div class="col-12 text-center card-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for request, campaign, sponsor in past_sponsor_requests %}
                        <div class="swiper-slide d-flex">
                            <div class="custom-card" style="width: 30rem;">
                                <div class="custom-card-header">
                                    <h5 class="card-title">{{ campaign.name }}</h5>
                                </div>
                                <div class="custom-card-body">
                                    <p class="card-text">From</p>
                                    <h6 class="card-title">{{ sponsor.company }}</h6>
                                    <hr>
                                    <button class="btn custom-btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvite4" aria-expanded="false" aria-controls="collapseInvite4">
                                        View
                                    </button>
                                    <button class="btn custom-btn-danger" type="button">Rejected</button>
                                    <div class="collapse" id="collapseInvite4">
                                        <div class="card card-body mt-2">
                                            <p class="card-text">{{ request.description }}</p>
                                            <p class="card-text">Niche: {{ request.niche }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-card-footer">
                                    <p class="card-text">Payment: ${{ request.payment }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {% else %}
        <br><br><br>
        <div class="row">
            <div class="col-12 text-center">
              <h1 style="color: black;">No Rejected Requests</h1>
            </div>
        </div>
        {% endif %}

    </div>

    <br><br>
    <footer class="footer text-white text-center">
        <div class="container">
            <br>
            <p>&copy; 2024 Accord. All rights reserved.</p>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        // Keeping the slider and the input field in sync, for negotiate modal
        function updateInputField(value, index) {
            const inputFields = document.querySelectorAll('.rangeValueInput');
            inputFields[index].value = value;
        }
        function updateSlider(value, index) {
            const sliders = document.querySelectorAll('.customRange');
            sliders[index].value = value;
        }

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        $(document).ready(function(){
            var cardCount = $('.swiper-slide').length;
            if(cardCount < 2) {
                swiper.destroy();
            }
        });

        $("#searchIcon").click(function(){
            $("#searchWrap, .input").toggleClass("active");
            $("input[type='text']").focus();
        });

        // Adds colorful gradients to cards in order
        document.addEventListener("DOMContentLoaded", function() {
            const gradients = [
                'gradient-1',
                'gradient-2',
                'gradient-3',
                'gradient-4'
            ];
            
            const cards = document.querySelectorAll('.custom-card'); 

            cards.forEach((card, index) => {
                const header = card.querySelector('.custom-card-header'); 
                if (header) {
                    header.classList.add(gradients[index % gradients.length]); 
                }
            });
        });
    </script>
</body>
</html>
