<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='title-logo.png') }}" type="image">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-5">
                <img class="navbar-brand img-fluid" src="{{ url_for('static', filename='sponsor-logo.png') }}" style="width: 12%;" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="nav-link btn" aria-current="page" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('sponsor_profile')}}'">Profile</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('sponsor_dashboard')}}'">Campaigns</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" aria-current="page" href="#" style="color: black; font-weight: bolder;" onclick="location.href='{{ url_for('sponsor_find')}}'">Find Influencers</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" aria-current="page" href="#" style="color: black; font-weight: bolder;">Stats</button>
                        </li>
                    </ul>
                    <form action="{{ url_for('logout') }}">
                    <button class="btn btn-outline-danger logout-btn" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row text-center">
            <h1 class="header">Find Influencers</h1>
        </div>
        <div class="row mb-4">
            <div id="filterSection" class="container content-space-1">
                <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                  <p>Select filters to find the right influencers for your campaigns.</p>
                </div>
                <form action="{{ url_for('sponsor_find') }}" method="GET" id="filter-form">
                    <div class="row gx-2 gx-md-3 mb-7">
                        <div class="col-sm-6 col-md-6 mb-2 mb-sm-0">
                            <label class="form-label visually-hidden" for="filterCategory">Select category</label>
                            <select class="form-select form-select-lg" id="filterCategory" name="category" aria-label="Select category">
                                <option value="">All categories</option>
                                <option value="gaming">Gaming</option>
                                <option value="clothing">Clothing</option>
                                <option value="entertainment">Entertainment</option>
                                <option value="fashion">Fashion</option>
                                <option value="automotive">Automotive</option>
                                <option value="education">Education</option>
                                <option value="health-fitness">Health and Fitness</option>
                                <option value="finance">Finance</option>
                                <option value="sports">Sports</option>
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <label class="form-label visually-hidden" for="filterNiche">Select niche</label>
                            <select class="form-select form-select-lg" id="filterNiche" name="niche" aria-label="Select niche">
                                <option value="">All niches</option>
                                <option value="blogging">Blogging</option>
                                <option value="vlogging">Vlogging</option>
                                <option value="tutorials">Tutorials</option>
                                <option value="reels">Reels</option>
                                <option value="music">Music</option>
                                <option value="photography">Photography</option>
                                <option value="journalism">Journalism</option>
                            </select>
                        </div>
                    </div>
                </form>
              </div>
        </div>

        {% if influencers[0] %}
        {% for influencer, adrequest_count in influencers %}
        <!-- See Profile Popup -->
        <div class="modal fade" id="profileModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="profileModalLabel{{ loop.index0 }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content curved-modal">
                    <div class="modal-header curved-modal-header">
                        <div class="col-8 text-left">
                            <h3 class="m-0" style="text-align: left; padding-left: 0px;">{{ influencer.name }}</h3>
                        </div>
                        <div class="col-4 text-center">
                            <img src="{{ url_for('static', filename='influencer-logo.png') }}" class="img-fluid w-100" style="width: 15%;">
                        </div>
                    </div>
                    <div class="modal-body" id="profileModalBody{{ loop.index0 }}">
                        <p><strong>Bio: </strong>{{ influencer.bio }}</p>
                        <p><strong>Platforms: </strong>{{ influencer.platforms }}</p>
                        <p><strong>Category: </strong>{{ influencer.category }}</p>
                        <p><strong>Niche: </strong>{{ influencer.niche }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div style="text-align: left;">
                            <p><b>Ad Requests Completed: {{ adrequest_count }}</b></p>
                            <p>The license into Accord.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Send Request Popup -->
        <div class="modal fade" id="adRequestModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="adRequestModalLabel{{ loop.index0 }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adRequestModalLabel{{ loop.index0 }}">Send Ad Request</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="adRequestModalBody{{ loop.index0 }}">
                        <form action="{{ url_for('create_sponsor_request') }}" method="POST">
                            <input type="hidden" name="influencer-username" value="{{ influencer.username }}">

                            <div class="mb-3">
                                <label for="influencer" class="form-label"><strong>Influencer</strong></label>
                                <input type="text" class="form-control" id="influencer" name="influencer" value="{{ influencer.name }}" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="campaign" class="form-label"><strong>Campaign</strong></label>
                                <select class="form-select" id="campaign" name="campaign" aria-label="Select campaign">
                                    <option value="" disabled selected>Select a campaign</option>
                                    {% for campaign in campaigns %}
                                    <option value="{{ loop.index0 }}">{{ campaign.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="description" class="form-label"><strong>Description</strong></label>
                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter your ad request description"></textarea>
                            </div>
        
                            <div class="mb-3">
                                <label for="niche" class="form-label"><strong>Niche</strong></label>
                                <select class="form-select" id="niche" name="niche" aria-label="Select niche">
                                    <option value="" disabled selected>Select a niche</option>
                                    <option value="blogging">Blogging</option>
                                    <option value="vlogging">Vlogging</option>
                                    <option value="tutorials">Tutorials</option>
                                    <option value="reels">Reels</option>
                                    <option value="music">Music</option>
                                    <option value="photography">Photography</option>
                                    <option value="journalism">Journalism</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="payment" class="form-label"><strong>Payment Offer ($)</strong></label>
                                <input type="number" class="form-control" id="payment" name="payment" min="1" placeholder="Enter your payment offer">
                            </div>
        
                            <button type="submit" class="btn btn-custom">Send Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <div class="row justify-content-center">
            {% if influencers[0] %}
                {% for influencer, adrequest_count in influencers %}
                <div class="col-md-6 card-container mb-4">
                    <div class="card" style="width: 30rem;">
                        <div class="card-header">
                            <h5 class="card-title"><strong>{{ influencer.name }}</strong></h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <br>
                                <p class="card-text"><strong>Platforms: {{ influencer.platforms.replace(',', ', ') }}</strong></p>
                                <p class="card-text"><strong>Category: {{ influencer.category }}</strong></p>
                                <p class="card-text"><strong>Niche: {{ influencer.niche }}</strong></p>
                                <br>
                                <button class="btn btn-custom w-100 mt-2 collab-btn" type="button" data-bs-toggle="modal" data-bs-target="#adRequestModal{{ loop.index0 }}">
                                    Send a Request
                                </button>
                                <button class="btn btn-custom w-100 mt-2 licence-btn" type="button" data-bs-toggle="modal" data-bs-target="#profileModal{{ loop.index0 }}">
                                    See Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="col-md-6 card-container mb-4">
                <div class="col-12 text-center">
                    <h1 style="color: black;">No Influencers Found.</h1>
                    <br>    
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <br>

    <footer class="footer text-white text-center">
        <div class="container">
            <br>
            <p>&copy; 2024 Accord. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterForm = document.getElementById('filter-form');
            const categorySelect = document.getElementById('filterCategory');
            const nicheSelect = document.getElementById('filterNiche');
        
            // Function to submit the form when a selection changes
            function submitForm() {
                filterForm.submit();
            }
        
            // Initialize form elements based on URL parameters
            function initializeForm() {
                const urlParams = new URLSearchParams(window.location.search);
                const category = urlParams.get('category') || '';
                const niche = urlParams.get('niche') || '';
        
                if (categorySelect) {
                    categorySelect.value = category;
                }
                if (nicheSelect) {
                    nicheSelect.value = niche;
                }
            }
        
            if (filterForm && categorySelect && nicheSelect) {
                categorySelect.addEventListener('change', submitForm);
                nicheSelect.addEventListener('change', submitForm);
        
                // Initialize form on page load
                initializeForm();
            } else {
                console.error('Form or select elements not found');
            }
        });
        </script>
        

</body>
</html>